taxibooking/src/main/resources/static/booking/js/*.js linguist-vendored
taxibooking/src/main/resources/static/js/*.js linguist-vendored
taxibooking/src/main/resources/static/css/*.css linguist-vendored
taxibooking/src/main/resources/static/booking/css/*.css linguist-vendored
taxibooking/src/main/resources/static/booking/font/*.css linguist-vendored
